.item-card {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
}

.item-card__image {
  width: 100%;
  height: 220px;
  object-fit: contain;
  display: block;
  background: #eee;
  border-radius: 10px;
  cursor: pointer;
}

.item-card__name {
  margin: 10px 0 0;
  font-weight: 600;
}