.main {
  padding: 16px;
}

.main__section {
  margin-top: 16px;
}

.main__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}