.main {
  padding: 16px;
}

.main__title {
  margin: 16px 0;
  font-size: 20px;
}

.main__section {
  margin-top: 16px;
}

.main__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}


@media screen and (max-width: 768px) {
  .main__items {
    grid-template-columns: 1fr; /* if using grid */
    gap: 12px;
  }
}