/* src/index.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000;
  background: #f3f3f3;
}

.app {
    max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}